/* 
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif; 
*/

/* Common Styles */
body {
    font-family: "Poppins", sans-serif;
}

.text-dark,
.nav-link {
    color: #3e3e3e !important;
}
header .nav-link {
    font-weight: 500;
}
.carousel-item img {
    height: 80vh !important;
    object-fit: cover !important;
    object-position: center !important;
}

.img-overlay {
    position: relative;
}
.img-overlay::after {
    position: absolute;
    inset: 0;
    content: "";
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 21.92%, rgba(0, 0, 0, 0.518) 160.04%, rgba(0, 0, 0, 0.221) 160.06%);
}
.slider-title {
    font-size: 48px;
    max-width: 600px;
}
.slider-text {
    font-size: 20px;
}
.text-primary {
    color: #553a24 !important;
}
a.btn {
    font-weight: 600 !important;
}
header a.btn:hover {
    background: #ddd8d3;
}
.btn:focus,
.accordion-button:focus {
    box-shadow: none !important;
}

.sec-title {
    font-size: 36px;
}

section p {
    font-size: 18px;
}
.btn-primary {
    background: #553a24 !important;
    border-color: #553a24 !important;
}
.btn-primary:hover {
    color: #553a24 !important;
    background: #ddd8d3 !important;
}
.toast-body i {
    color: #d38938;
    font-size: 22px;
}
.border-primary {
    border-color: #d38938 !important;
}
.icon-wrapper i {
    font-size: 13px;
}
.icon-wrapper {
    background: #f9ede3;
    height: 22px;
    width: 22px;
    padding: 0px 4px;
}
.feature,
.package-description {
    font-size: 15px;
    color: #848199;
}
.package {
    padding: 50px 30px 43px;
    border-radius: 26px;
    background-image: url("images/lines.png");
    background-repeat: no-repeat;
    background-position: center right;
}
.package.active {
    background-color: #e5cdb2;
    margin-top: -40px;
    box-shadow: 0px 42px 34px rgba(190, 165, 140, 0.36);
}
.package.active * {
    color: #553a24;
}
.package-btn {
    background-color: #ddd8d3 !important;
}
.package-btn:hover {
    color: #ddd8d3 !important;
    background-color: #553a24 !important;
}
.package.active .package-btn:hover {
    background-color: #ddd8d3 !important;
    color: #553a24 !important;
}
.package.active .package-btn {
    color: #ddd8d3 !important;
    background-color: #553a24 !important;
}
.badge {
    background-color: #d34d38;
}
.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}
.accordion-header .accordion-button {
    font-size: 20px !important;
    font-family: "Inter", sans-serif;
    font-weight: 500 !important;
}

.accordion-body {
    color: #848199;
    font-size: 16px;
}
.contact .sec-sub-title {
    font-weight: 500;
    color: #d38938;
}
.contact p {
    color: #5f4128;
}
.social-icons a i {
    color: #5f4128;
    font-size: 35px;
}
.social-icons a:hover i {
    color: #928b7f;
}
.form-control:focus {
    border-color: #553a23 !important;
    box-shadow: 0 0 0 0.25rem rgb(85 58 35 / 25%) !important;
}
footer {
    background: #000;
}
footer a:hover svg * {
    fill: #cf985c;
}
footer a:hover {
    border-color: #cf985c !important;
}
