/* 
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif; 
*/

/* Common Styles */
body {
    font-family: "Poppins", sans-serif;
}

.text-dark,
.nav-link {
    color: #3e3e3e !important;
}
header .nav-link {
    font-weight: 500;
}
.carousel-item img {
    height: 80vh !important;
    object-fit: cover !important;
    object-position: center !important;
}

.img-overlay {
    position: relative;
}
.img-overlay::after {
    position: absolute;
    inset: 0;
    content: "";
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 21.92%, rgba(0, 0, 0, 0.518) 160.04%, rgba(0, 0, 0, 0.221) 160.06%);
}
.slider-title {
    font-size: 48px;
    max-width: 600px;
}
.slider-text {
    font-size: 20px;
}
.text-primary {
    color: #553a24 !important;
}
a.btn {
    font-weight: 600 !important;
}
header a.btn:hover {
    background: #ddd8d3;
}
.btn:focus {
    box-shadow: none !important;
}

.sec-title {
    font-size: 36px;
}

section p {
    font-size: 18px;
}
.btn-primary {
    background: #553a24 !important;
    border-color: #553a24 !important;
}
.btn-primary:hover {
    color: #553a24 !important;
    background: #ddd8d3 !important;
}
